@using MvcFlash.Core.Extensions
@{
    ViewBag.Title = "Triangle Type";
}

<h2>@ViewBag.Title</h2>
@Html.Flash()


@using (Html.BeginForm("Index", "Triangle", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control" }, })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Calculate Triangle Type" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
